<div id="social_login" >
    <h3>Sign In </h3>
    <button class="google btn" (click)="googleLogin()">
        <fa-icon [icon]="faGoogle"></fa-icon> Google+
    </button>
    <button class="twitter btn">
        <fa-icon [icon]="faTwitter"></fa-icon> Twitter
    </button>
    <button class="github btn">
        <fa-icon [icon]="faGithub"></fa-icon> Github
    </button>
    <button class="phone btn" (click)="phoneLogin()">
        <fa-icon [icon]="faPhone"></fa-icon> Phone
    </button>
    <button (click)="logout()">Sign Out</button>
    <button (click)="goToHome()">Home</button>
</div>
<div id="recaptcha-container"></div>

